body {
	display: flex;
	justify-content: center;
	align-self: center;
	align-content: center;
	flex-direction: column;
	font-family: sans-serif;
	color: #ffffff;
	background-color: #000000;
}

#title {
	display: flex;
	height: 60px;
	width: 200px;
	justify-content: center;
	align-content: center;
	align-self: center;
	text-align: center;
	border: 2px solid #ffffff;
	font-size: 32px;
	line-height: 30px;
	padding: 2px;
	margin: 2px;
	letter-spacing: 8px;
}

#container {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 692px;
	width: 682px;
	background-image: url(../img/space_background.jpg);
	background-size: cover;
}

#left-screen {
	height: 692px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.6);
}

#middle-screen {
	height: 692px;
	width: 482px;
	background-color: rgba(255, 255, 255, 0.2);
}

#right-screen {
	height: 692px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.6);
}


canvas {
	display: flex;
	justify-content: center;
	align-self: center;
	align-content: center;
	border: 1px solid #000000;
}

.transparent {
	opacity: 0;
}